body {
    /* --tooltip: rgb(230, 228, 217);
    --tooltip-text: rgb(16, 15, 15); */
    --tooltip: rgba(var(--color-neutral-300));
    --tooltip-text: rgba(var(--color-neutral-900));
    &:is(.dark *) {
        --tooltip: rgba(var(--color-neutral-900));
        --tooltip-text: rgba(var(--color-neutral-200));
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-family:  var(--global-font-family);
    font-weight: var(--global-font-weight);
    font-style: normal;
    font-size: var(--global-font-size);
    visibility: hidden;
    width: 20em;
    background-color: var(--tooltip);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 110%;
    left: 50%;
    margin-left: -10em;
    z-index: 99;
    opacity: 0;
    transition: opacity .5s, background-color var(--transition-duration, .3s)ease, color var(--transition-duration, .3s)ease;
    color: var(--tooltip-text)
}

.tooltiptext {
    z-index: 100;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: .95;
}

.tooltip {
    cursor: default;
    text-decoration: underline dotted;
}

@media(max-width:600px) {
    .tooltip .tooltiptext {
        width: 10em;
        /* left: 50%; */
        transform: translateX(-50%);
        margin-left: 0;
        padding: 5px;
    }
}
